<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="icons/pics.png", type="image/x-icon")
        link(rel="stylesheet", href="stylesheets/home.css")
        link(href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My gallery
    body
        form(action="/", method="post" enctype="multipart/form-data")
            .upload
                textarea.picsup(name="conten", cols="30", rows="4" placeholder="What's up?..." maxlength='125' required)
                .up
                    .search    
                        label.imag(for="file-upload")
                            i(class="fas fa-cloud-upload-alt")
                            img(src="icons/pics.png", alt="pics")
                            input(id="file-upload" onchange='cambiar()' type="file" name="foto" enctype="multipart/form-data")
                        #info ...
                    button#send
                        img(src="icons/send.png", alt="")
        section#sect
            -for(i= 0; i < publication.length; i++)     
                #publication
                    .cont    
                        h3= publication[i].content
                        strong= ` ${time(publication[i].upload_date)}`
                        h4#ids= publication[i].id
                        img#poto(src=`${publication[i].picture}`, alt="")
    script(src="javascripts/home.js")